/*Global Styles*/

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

html, body, .hero-text{
  width:100%;
  height:100%;
}

body {
  font-family: 'Arvo', serif;
  margin: 0;
  color: #000;
  background-color: #c0c0c0;
  letter-spacing: 0.03em;
}

h2 {
  font-family: 'Homemade Apple';
  word-spacing: 10px;
  font-size: 36px;
  margin: 0;
  text-align: center;
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

  /*Clearfix*/
  .cf {
    content: "";
    display: table;
    clear: both;
  }

/*Nav*/

nav {
  background-color: #fff;
  position: fixed;
  width: 100%;
  height: 60px;
  z-index: 1000;
}

.nav-left {
  float: left;
}

.nav-right {
  float: right;
}

.nav-right li {
  display: inline-block;
  text-transform: uppercase;
  margin: 0;
  padding-right: 20px;
}

/*Hero text*/

.hero-text {
  background: url('../img/background.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #444;
  padding: 30px;
  text-align: center;
  vertical-align: middle;
}

.hero-text h1 {
  font-family: 'Smythe';
  font-size: 150px;
  line-height: 150px;
  margin-top: 225px;
  margin-bottom: 0;
}

.hero-text h2 {
  text-align: center;
  font-size: 28px;
  margin: 0;
}

.hero-text h3, .hero-text p {
  color: #333;
}

.hero-text h3 {
  margin: 0;
  line-height: 35px;
}

.hero-text p {
  width: 60%;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  margin-top: 0;
  font-size: 1.1em;
}

 button {
  background-color: #617e67;
  height: 50px;
  width: 150px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: .16em;
  border: none;
  border-radius: 23px;
  padding: 15px;
}

button:hover {
  color: #fff;
  background-color: #444;
  -o-transition:.9s;
  -ms-transition:.9s;
  -moz-transition:.9s;
  -webkit-transition:.9s;
  transition:.9s;
}

/*Our Story*/

#ourstory {
  width: 70%;
  margin: 50px auto;
  border: 1px solid #ff0000;
}

#story-left {
  float: left;
  width: 50%;
  border: 1px solid #fff;
}

#story-left p {
  line-height: 1.5em;
}

#story-left p:first-letter {
  font-size: 48px;
  font-family: 'Homemade Apple';
  line-height: 0;
}

#story-right {
  float: right;
  width: 50%;
  border: 1px solid #000;
}

#story-right img {
  height: 324px;
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  border-radius: 100%;
  border: 5px solid #ff0000;
}

/*Subscribe*/

#subscribe {
  margin: 10px auto;
  text-align: center;
  background-color: #fff;
  height: 720px;
}

#subscribe h2 {
  line-height: 200px;
}

.columns {
  width: 70%;
  margin: -30px auto;
  position: relative;
  display: table;
}

.column {
  display: table-cell;
  width:32%;
  background-color: #eee;
}

#col-left, #col-middle, #col-right {
  padding: 10px 30px;
}

#col-right {

}

#col-middle {
  position: absolute;
  left: 50%;
  display: inline;
  width: 33%;
  transform: translateX(-50%);
}

/*Contact*/

#past {
  background-color: #fff;
  width: 70%;
  margin: 50px auto;
  border: 1px solid #ff0000;
}
/*
#past-left {
  float: left;
}

#past-right {
  float: right;
}

#past-right img {
  max-width: 19%;
  margin: 2.5%;
  vertical-align: middle;
}*/


#past-left {
  float: left;
  width: 50%;
  border: 1px solid #fff;
}

#past-right {
  float: right;
  width: 50%;
  border: 1px solid #000;
}

/*Contact*/

#contact {
  background-color: #fff;
  width: 100%;
  margin: 0 auto;
  border: 1px solid #ff0000;
}

.two-col-contact {
  width: 70%;
  margin: 0 auto;
}
/*
#past-left {
  float: left;
}

#past-right {
  float: right;
}

#past-right img {
  max-width: 19%;
  margin: 2.5%;
  vertical-align: middle;
}*/


#contact-left {
  float: left;
  width: 50%;
  border: 1px solid #fff;
}

#contact-right {
  float: right;
  width: 50%;
  border: 1px solid #000;
}



/*At least one centered element
A list or summary of features (lorem ipsum is fine)
At least one large image with an absolutely positioned caption (example)
At least one table or form field styled with CSS (e.g. sizing chart, color options, order form…)
A gallery of smaller images (e.g. similar products...)
Incorporates all required elements (see above)
Use of at least one pseudo class and one pseudo element
Use of at least 3 different types of selectors
Appropriate elements are positioned using absolute & relative positioning
Gallery images make use of the float property
DONE -- Elements use box-sizing: border-box;
Project is in a polished, portfolio-quality state`.*/
