/*Global Styles*/

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

html, body, .hero-text{
  width:100%;
  height:100%;
}

body {
  font-family: 'Arvo', serif;
  margin: 0;
  color: #444;
  background-color: #fff;
  letter-spacing: 0.03em;
}

h2 {
  font-family: 'Homemade Apple';
  word-spacing: 10px;
  font-size: 36px;
  margin: 0;
  text-align: center;
  color: #617e67;
}

li {
  list-style: none;
  display: inline-block;
}

a {
  text-decoration: none;
}

a:visited {
  color: #444;
}

button {
 background-color: #617e67;
 height: 50px;
 width: 150px;
 color: white;
 font-family: 'Arvo';
 font-size: 16px;
 cursor: pointer;
 font-weight: bold;
 text-transform: uppercase;
 letter-spacing: .16em;
 border: none;
 border-radius: 23px;
 line-height: 16px;
 padding-top: 5px;
}

button:hover {
 color: #fff;
 background-color: #444;
 -o-transition:.9s;
 -ms-transition:.9s;
 -moz-transition:.9s;
 -webkit-transition:.9s;
 transition:.9s;
}

  /*Clearfix*/
.cf {
  content: "";
  display: table;
  clear: both;
}

/*Nav*/

nav {
  margin: 5px 30px 5px 30px;
}

.left-nav {
  float: left;
  padding-bottom: 5px;
}

nav img {
  width: 40px;
  padding: bottom: 10px;
}

nav h3 {
  float: right;
  margin-left: 20px;
  font-family: 'Smythe';
  font-size: 30px;
  line-height: 0;
}

.title {
  color: #aa6300;
}

.title:hover {
  color: #444;
  -o-transition:.9s;
  -ms-transition:.9s;
  -moz-transition:.9s;
  -webkit-transition:.9s;
  transition:.9s;
}

nav ul {
  float: right;
}

nav li {
  list-style-type: none;
  display: inline-block;
  margin-top: 9px;
  padding-left: 30px;
  text-transform: uppercase;
}

nav a {
  color: #617e67;
  opacity: 1;
}

nav a:visited {
  color: #617e67;
}

nav li:hover {
   height: 28px;
   background-image:url('../img/heart_hover.png') ;
   background-repeat:no-repeat;
   background-size: 20px 30px;
   background-position: 65px 0px;
   }

/*Hero text*/

.hero-text {
  background: url('../img/background.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #444;
  padding: 30px;
  text-align: center;
  vertical-align: middle;
}

.hero-text h1 {
  font-family: 'Smythe';
  font-size: 150px;
  line-height: 150px;
  margin-top: 200px;
  margin-bottom: 0;
  text-shadow: 1px 1px 1px #111;
}

.hero-text h2 {
  text-align: center;
  font-size: 28px;
  margin: 0;
  color: #333;
}

.hero-text h3, .hero-text p {
  color: #333;
}

.hero-text h3 {
  margin: 0;
  line-height: 35px;
}

.hero-text p {
  width: 60%;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  margin-top: 0;
  font-size: 1.1em;
}

/*Our Story*/

#ourstory {
  width: 70%;
  margin: 50px auto;
  position: relative;
}

#story-left {
  float: left;
  width: 50%;
  padding-right: 5px;
}

#story-left p {
  line-height: 1.5em;
}

#story-left p:first-letter {
  font-size: 48px;
  font-family: 'Homemade Apple';
  line-height: 0;
  color: #aa6300;
}

#story-right * {
  float: right;
  display: block;
  margin: 0 auto;
}

#story-right img {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  width: 50%;
  border-radius: 100%;
  border: 10px solid #aa6300;
  height: 100%;
}

#caption {
  position: absolute;
  color: #222;
  top: 70%;
  left: 70%;
  text-align: right;
  width: 20%;
}

/*Subscribe*/

#subscribe {
  margin: 0 auto;
  padding-top: 80px;
  text-align: center;
  background-color: rgba(163, 118, 33, 0.16);
}

#subscribe h2 {
  line-height: 0px;
  color: #aa6300;
}

#subscribe h3 {
  color: #617e67;
  text-transform: uppercase;
  border-bottom: 3px solid #aa6300;
}

.columns {
  width: 70%;
  margin: 0 auto;
  position: relative;
  display: table;
  color: #444;
}

.column {
  display: table-cell;
  float: left;
  width:32%;
  background-color: #fff;
  border-radius: 10px;
  margin: 50px 4px;
}

#col-left, #col-middle, #col-right {
  padding: 10px 30px;
}

.column button {
  width: 80%;
}

#middle-button {
  background-color: #aa6300;
}

#middle-button:hover {
 color: #fff;
 background-color: #444;
 -o-transition:.9s;
 -ms-transition:.9s;
 -moz-transition:.9s;
 -webkit-transition:.9s;
 transition:.9s;
}

/*Contact*/

#testimonials {
  width: 70%;
  margin: 50px auto;
}

#past-boxes img {
  max-width: 30%;
  margin: 1.3%;
  vertical-align: middle;
  border-radius: 100%;
}

#past-boxes img:nth-child(odd) {
  border: 10px solid #aa6300;
}

#past-boxes img:nth-child(even) {
  border: 10px solid #617e67;
}

/*Contact*/

#contact {
  background-color: rgba(163, 118, 33, 0.16);
  width: 100%;
  margin: 0 auto;
}

#contact h2 {
  color: #aa6300;
  margin-top: 50px;
  line-height: 40px;
}

.contact {
  width: 70%;
  margin: 0 auto;
}

form {
  background-color: #fff;
  width: 550px;
  border-radius: 10px;
  margin: 30px auto 50px auto;
  padding: 30px 0 20px 0;
  text-align: center;
}

input, select, textarea, button {
  display: block;
  margin-bottom: 10px;
  margin-top: 5px;
  margin-right: auto;
  margin-left: auto;
}

input, select, textarea {
  width: 300px;
  font-size: 13px;
  opacity: 0.8;
}

label {
  color: #aa6300;
}

input, select {
  height: 30px;
}

input:focus, textarea:focus {
  background-color: #aa6300;
  color: #fff;
  font-style: normal;
  outline: 2px solid #444;
}

select:focus {
  font-style: normal;
}

input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
    color: #fff;
}

.input-in label, .input-in input, .input-in textarea {
    float: none;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}

#form-submit {
  margin-top: 20px;
}

/*Social media icons*/

#contact ul {
  padding-left: 0;
}

#contact li {
  margin-right: 15px;
}

.fa {
  color: #aa6300;
  margin-top: 30px;
}

.fa:hover {
  color: #617e67;
}

.fa:visited {
  color: #aa6300;
}
